* {
  transition: 0.4s;
}

#custom-background {
  position: fixed;
  z-index: -100;
  height: 99vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}


.schoolbox {
  display: inline-block;
  height: 10%;
  width: 10%;
  background-position: center;
  background-size: contain;

  text-align: center;

  background-repeat: no-repeat;

  box-shadow: 0 0 33px -15px rgba(0,0,0,0.75);
  border-radius: 1em;
  margin: 1%;
  transition-duration: 0.3s;
  vertical-align: middle;
  text-align: center;
}

tr, td {
  align: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; display: none; }
}
@keyframes fadeIn {
  0% { opacity:0; display: inherit; }
  100% { opacity:1; }
}

@keyframes bell {
  0% {
    transform-origin: top center;
    transform: rotate(30deg);
  }
  50% {
    transform-origin: top center;
    transform: rotate(-30deg);
  }
  100% {
    transform-origin: top center;
    transform: rotate(30deg);
  }
}

.bell-animation {
  animation: bell 1.5s ease-in-out infinite;
}

.content-container {
  background-color: white;
}

body,html {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.fadeOut {
  animation: 0.5s ease 0s normal forwards 1 fadeOut;
}
.fadeOutFast {
  animation: 0.2s ease 0s normal forwards 1 fadeOut;
}
.fadeIn {
  animation: 0.5s ease 0s normal forwards 1 fadeIn;
}
.fadeInFast {
  animation: 0.2s ease 0s normal forwards 1 fadeIn;
}

#load {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  z-index: -100;
  background-image: url("/img/loading.svg");
  background-position: center;
  background-repeat: no-repeat;
}


#schoolselect {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  margin: auto;
  vertical-align: middle;
  transition-delay: 0.3s;
}
.schoolbox:hover {
  height: 10.25%;
  width: 10.25%;
}

.schooltext {
  display: inline-block;
  border-radius: 1em;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0);
  transition-duration: 0.3s;

  padding: 0.5em;

  vertical-align: middle;

  padding-top: 1em;

  cursor: pointer;

}
.schooltext:hover, .schooltext.show {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(5, 5, 5, 0.4);
}


.select-welcome {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;

}
#school-list {
  display: inline-block;
  width: 100%;

  background-color: rgba(240, 240, 240, 0.65);
}

.errorbox {
  display: inline-block;
  margin: auto;
  background-color: pink;
  border-left-style: solid;
  border-left-color: red;
  padding: 1em;
}

.weather-tr {
  border-top: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
}

.calibration {
  display: inline-block;
  margin: auto;
  background-color: yellow;
  border-left-style: solid;
  border-left-color: orange;
  padding: 1em;

  box-shadow: 0 0 33px -15px rgba(0,0,0,0.75);
  border-radius: 10px;

  position: absolute;
  top: 1em;
  left: 1em;

  transition: 0.1s;
}
.calibration.done {
  border-left-color: green;
  background-color: lime;
}

.hidden {
  display: none;
}

#blur {
  transition: 0.4s;
}

#layout-selector {
  width: 75vw;
  max-height: 85vh;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  box-shadow: 0 0 33px -15px rgba(0,0,0,0.75);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  overflow-y: scroll;
  color: black;
}

#date-preview {
  width: 75vw;
  max-height: 85vh;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  box-shadow: 0 0 33px -15px rgba(0,0,0,0.75);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  overflow-y: scroll;
  color: black;
}

#date-preview * {
  color: black;
}
#layout-selector * {
  color: black;
}

.layout-iframe {
  margin-left: -37.5vw;
  margin-right: -37.5vw;
  margin-top: -37.5vh;
  margin-bottom: -37.5vh;
  height: 99vh;
  width: 99vw;
  transform: scale(0.25) !important;

  padding:0;

  max-height: 99vh;

  transition: 0 !important;
}

.rmtv-ad {
  font-size: 10vh;
  display: inline-block;
  position: absolute;
  top: -0.3em;
  left: 0;
  width: 99vw;
  text-align: center;
  padding-top:0;
  margin:0;
  font-weight: bold;
  z-index: 100;
}

.game-iframe {
  margin-left: -37.5vw;
  margin-right: -37.5vw;
  margin-top: -37.5vh;
  margin-bottom: -37.5vh;
  height: 99vh;
  width: 99vw;
  transform: scale(0.5) !important;

  padding:0;

  max-height: 99vh;

  transition: 0 !important;
}

.layout {
  width: 0.25vw;
  display: inline-block;
  margin: 1em;
  overflow: hidden;

  max-height: 50vh !important;

  transition: 0s;
}


.layout .card-body {
  cursor: pointer;
}

.layout-selected {
  border-style: solid;
  border-color: blue;
}


.layout-selector-close {
  display: block;
  width: 2em;
  margin-left: auto;
  position: relative;
  top:0;
  left:0;

  color: red !important;
  font-size: 1.5em;
  cursor: pointer;

  transition: 0.25s !important;
}
.layout-selector-close:hover {
  color: white !important;
  background-color: rgba(255, 0, 0, 0.75);
}

.we-wf-htemp {
  font-size: 1.35em;
}
.we-wf-ltemp {
  font-size: 0.75em;
}
.we-wf-day {
  padding-right: 0.5em;
}
.we-wf td {
  text-align: center;
  vertical-align: middle;
}
.we-wf-precip {
  font-size: 0.9em;
}
.we-wf-toggle-btn:hover {
  text-decoration: underline !important;
  cursor: pointer;
}



@media (max-width: 900px) {
  #layout-selector {
    width: 95vw;
  }
  .schoolbox {
    height: 30.25vw;
    width: 30.25vw;
  }
  .schoolbox:hover {
    height: 30.25vw;;
    width: 30.25vw;
  }
  .schooltext {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(5, 5, 5, 0.4);
  }

  .layout-iframe {
    margin-left: -37.5vw;
    margin-right: -37.5vw;
    margin-top: -37.5vh;
    margin-bottom: -37.5vh;
  }

  .layout {
    margin: 0;
  }

  #schoolselector {
    padding-bottom: 5em;
    font-size: 5vw;
  }
  .select-welcome {
    max-width: 95%;
  }
}
