button.hidden-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: inherit;
}

a.hidden-link {
    color: inherit !important;
    text-decoration: none !important;
}

.hover-underline {
    text-decoration: none !important;
}
.hover-underline:hover {
    text-decoration: underline !important;
}