button.hidden-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: inherit;
}

.limit {
    width: calc(min(90vw, 56em))
}

a.hidden-link {
    color: inherit !important;
    text-decoration: none !important;
}

.hover-underline {
    text-decoration: none !important;
}
.hover-underline:hover {
    text-decoration: underline !important;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
}
body.dark {
    background-color: #262626;
    color: white;
}
body.black {
    background-color: black;
    color: white;
}

@media (prefers-color-scheme: dark) {
    .predark { /* the predark class prevents flashbangs if for some reason the js dark theme detection is slow */
        background-color: #262626;
        color: white;
        @apply dark;
    }
}

.flip {
    transform: rotate(180deg);
}